.grid-container {
    display: grid;
grid-template-columns: 0.5fr 1fr 2fr 0.3fr 0.5fr;
grid-template-rows: 4fr 3fr 2fr 5fr 3fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.grid-item {
    background-color: aliceblue;
    border: 4px solid black;
    padding: 30px;
    text-align: center;

}

.grid-item1 {
    background-color: yellow;
    border: 4px solid black;
    padding: 30px;
    text-align: center;

}

.grid-item2 {
    background-color: white;
    border: 4px solid black;
    padding: 30px;
    text-align: center;

}

.grid-item3 {
    background-color: blue;
    border: 4px solid black;
    padding: 30px;
    text-align: center;

}

.grid-item4 {
    background-color: red;
    border: 4px solid black;
    padding: 30px;
    text-align: center;

}


@media only screen and (max-width: 600px) {
  .grid-container {
       display: grid;
grid-template-columns: 1fr 0.7fr 1fr 0.6fr 0.3fr;
grid-template-rows: 1fr 3fr 0.5fr 5fr 2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    }
    
}

@media only screen and (min-width: 768px) {
  .grid-container {
       display: grid;
grid-template-columns: 2fr 1.5fr 1.8fr 2fr 0.8fr;
grid-template-rows: 4fr 2fr 4fr 7fr 2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    }
    
}
